//组织树
.origanize-tree-wrapper,
.house-tree-wrapper{
  //展开
  .zhankai {
    position: absolute;
    left: -15px;
    top: 50vh;
    height: 32px !important;
    font-size: 32px;
  }
  /*收缩按钮*/
  .shouqi {
    position: absolute;
    left: 220px;
    top: 50vh;
    height: 32px !important;
    font-size: 32px;
  }

  .tree-body {
    padding-left: 12px;
    height: calc(100vh - 38px - 10px - 50px - 72px);
    overflow: auto;
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  .tree-width{
    width: 236px;
  }

  .addChildre {
    color: #999999;
    padding-left: 4px;
    margin: 6px 0;
  }
  .el-autocomplete {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 14px;
  }
}

// 字典树
.data-dictionary-tree{
  &.tree-width{
    width: 236px;
  }

  .tree-body{
    padding-left: 12px;
    height: calc(100vh - 38px - 10px - 50px);
    overflow: auto;
    padding-bottom: 10px;
    box-sizing: border-box;
  }
}

.slot-container{
  display: flex;
  align-content: center;

  .tree_node_img_more{
    width: 20px;
    height: 14px;
    display: none;
  }

  &:hover{
    .tree_node_img_more{
      display: block;
    }
  }

  .title-text{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
